@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

h1 {
   margin-bottom: 14px;
}

body {
   font-size: 16px;
   font-family: 'Roboto', sans-serif;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   background-color: bisque;

   min-height: 100vh;
}

p, h2 {
   text-align: center;
}

main {
   width: 450px;
   height: 450px;

   background-color: white;
   border: 1px solid black;

   padding: 30px 55px;
}

.content {
   margin-top: 30px;
}

.alternatives {
   margin-top: 30px;
}

.alternatives__inputs + .alternatives__inputs {
   margin-top: 30px;
}

.btn {
   margin-top: 50px;
}

.btn button {
   font-size: 0.9rem;
   color: white;
   
   width: 150px;
   padding: 5px 0;
   background-color:cornflowerblue;

   border: 2px solid black;
   cursor: pointer;
}